header {
    width: 100%;
    padding: 28px 8%;

}

.nav_bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.lista {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

.lista a {
    text-decoration: none;
    color: black;
}

.nav_li a {
    color:#F08080;
    border-bottom: 2px solid black;
     
}

